<h2>Citizen Dashboard</h2>
<p>Welcome <%= user.name %>! Here you can:</p>

<ul>
  <li>
    <a href="/citizen/apply">
      Apply for a new service
    </a>
  </li>
  <li>
    <a href="/citizen/track">
      Track your service requests
    </a>
  </li>
  <li>
    <a href="/citizen/notifications">
      View notifications
    </a>
  </li>
</ul>